* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  padding: 40px 0px;
  justify-content: center;
  color: #ffd523;
  font-family: "Press Start 2P", cursive;
  background-color: #2c2e43;
}

.main {
  background-color: #595260;
}

.main #compChoice {
  font-size: 20px;
}

p {
  color: #b2b1b9;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-weight: bold;
}

.paragraph {
  padding: 30px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 80px;
}
